
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .btn-color {
            background-color: #0e1c36;
            color: #fff;
        }
        .cardbody-color {
            background-color: #ebf2fa;
        }

        a {
            text-decoration: none;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">Login Form</h2>

                <div class="card my-5">
                    @using (Html.BeginForm("Index", "Home",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "card-body cardbody-color p-lg-5" }))
                    {
                        @Html.AntiForgeryToken()


                        <div class="mb-3">
                            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" name="Username"
                                   placeholder="User Name">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="password" placeholder="password">
                        </div>
                        <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
                    }
                </div>

            </div>
        </div>
    </div>

</body>
</html>